<p id="notice"><%= notice %></p>

<p>
  <strong>Media name:</strong>
  <%= @work_detail.media_name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @work_detail.size %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @work_detail.cost %>
</p>

<p>
  <strong>Details:</strong>
  <%= @work_detail.details %>
</p>

<%= link_to 'Edit', edit_work_detail_path(@work_detail) %> |
<%= link_to 'Back', work_details_path %>
